.slider{
    height: calc(110vh - 80px);
    width: 100%;
    position: relative;
    overflow: hidden;
    
    .container{
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1.5s ease;
        transform: translateX(-600vw);
        
        
        img{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            -webkit-mask-image: linear-gradient(blue, transparent);
            mask-image: linear-gradient(blue, transparent);
        }
    }

    .icons{
        width: fit-content;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        gap: 10px;
        margin: auto;

        .icon{
            background: white;
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}