.main-nav-links {
    font-size: 12px;

    .nav-link {
        text-transform: capitalize;
        top: 1px;
        font-weight: 500;
    }

    .github {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-weight: bold;
        margin-top: 3px;
        color: black;

    }

}



.cartEmpty{
    padding: 10px;
    font-size: 14px;
} 


.icons {
    padding: 2px;
    display: flex;
    color: #4b4b4b;
    cursor: pointer;
}
