.navbar {
    height: 55px;
    font-size: 14px;
    font-weight: 500;
    
    .wrapper {
        padding: 13px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        display: flex;
        align-items: center;
    }

    .left{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .center {
        font-weight: bolder;
        font-size: 22.5px;
        letter-spacing: 2px;
        text-shadow: 1.9px 1.9px 1px rgb(202, 202, 202);
        }

    .right{
        display: flex;
        align-items: center;
        gap: 25px;

        .icons {
            display: flex;
            gap: 15px; 
            color: #777;
            cursor: pointer;


            .cartIcon{
                position: relative;

                
                span{
                    font-size: 14px;
                    font-weight: bold;
                    height: max-content;
                    width: max-content;
                    border-radius: 25px;
                    background-color: #2879fe;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -5px;
                    letter-spacing: 1px;
                    padding: .5px 5px .5px 5px;
                    display: flex;
                    align-items: center; // center vertically
                    justify-content: center; // center horizontally
                }
            }
        }
    }

}