.footer {
    margin: 100px 200px 100px 200px;

    .top{
        display: flex;
        gap: 50px;
        color: #555;
        
        .item{
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 10px;
            // text-align: justify;
            font-size: 14px;
            
            h1{
                font-size: 18px;
                font-weight: 500;
                color: #353535;
            }
            
            span{
                cursor: pointer;
                color: #555;
            }
        }
    }

 
}